@import '../../styles/variables';

.header {
  width: 100%;
  background-color: inherit;
  color: $dark;
  padding: 2rem 1rem;
  // margin: 2rem 0;
  display: flex;
  align-items: center;
  height: 110px;
  
  .headerTitle {
    min-width: 150px;
  }

  h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;

    @media (max-width: 1390px) and (min-width: 480px) {
      font-size: 2.2rem;
    }
    @media (min-width: 1390px) {
      font-size: 2.5rem;
    }
    
    a {
      color: inherit;
      text-decoration: none;
      padding-bottom: 4px;

      &:hover,
      &:focus,
      &:active {
        border-bottom: 1px solid $dark;
      }
    }

    & + ul {
      margin-top: 1.5em;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  figure {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .searchContainer {
    cursor: pointer;
    z-index: 1000;
  }
  // /* Desktop Menu*/

  // .navMenu {
  //   display: flex;
  //   align-items: center;
  //   flex-grow: 0;
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  
  //   .menuItemHasChildren {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     height: 45px;
  
  //     .menuItemHasChildrenClosed {
  //       background-color: inherit;
  //       display: flex;
  //       border: none;
  //       // margin-left: -8px;
  //       min-height: 100%;
  //       // padding: 5px;
  //       // width: 30px;
  //       cursor: pointer;
  //       align-items: center;
  
  //       &:active,
  //       &:hover, &:focus {
  //       //   border: 1px dashed #000;
  //       background-color: #ccc;
  //       }
  //     }
  //   }
  
  //   & > li {
  //     position: relative;
  //     margin: 0 0.25em;
  
  //     &:first-child {
  //       margin-left: 0;
  //     }
  
  //     &:last-child {
  //       margin-right: 0;
  //     }
  
  //     .navSubMenuClosed {
  //       display: none;
  //       width: max-content;
  //     }
  
  //     .navSubMenu {
  //       display: block;
  //       width: max-content;
  //       left: 8px;
  //       z-index: 10;
  //       background: #000000d9;
  //     }
  //   }
  
  //   a {
  //     display: block;
  //     text-decoration: none;
  //     color: rgb(112, 112, 112);
  //     font-size: 1.1em;
  //     padding: 0.5rem 0.2rem;
  
  //     @media (hover: hover) {
  //       &:hover {
  //         color: #0070f3;
  //       }
  //     }
  //   }
  // }
  
  // .navSubMenu {
  //   display: none;
  //   position: absolute;
  //   padding: 0;
  //   list-style: none;
  //   background-color: #fff;
  //   padding: 0.5em;
  //   border-radius: 0;
  //   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  //   margin-left: -0.25em;
  
  //   li {
  //     a {
  //       font-size: 1rem;
  //       padding: 0.3em;
  //       color: #fff;
  
  //       @media (hover: hover) {
  //         &:hover {
  //           color: rgb(201, 201, 201);
  //         }
  //       }
  //     }
  //   }
  // }
  
}


@media screen and (min-width: 768px) {
  .header {
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    padding: 2rem 6rem;
  }

  .searchContainer {
    cursor: pointer;
    z-index: 1000;

    .searchComponent {
      max-width: 100%;
    }
  
    .searchIcon{
      // background-color: antiquewhite;
      cursor: pointer;
    }
  }

}
