.main {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 5rem;
    min-height: 80vh;
}

@media screen and(min-width: 768px){
    .main {
        padding: 0 3rem;
        margin-top: 16px;
    }
}
@media screen and(min-width: 1000px){
    .main {
        padding: 0 6rem;
        margin-top: 20px;
    }
}