@import "../../styles/variables";

.footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  // display: flex;
  background-color: lighten($yellow, 40%);
  color: $dark;
  padding: 1.2rem;

  .latestPostsFooter {
    font-size: 0.9rem;
    padding: 0 1rem;
    border-right: 1px solid #9a9a9a;
  }

  h1 {
    margin: 0;
  }
}
/* Lower Footer */
.lowerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: $yellow;
  width: 100%;
  color: $dark;
}
