@import "../styles/variables";

.blogContent {
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  height: 100%;
  border: 1px solid #ddd;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
    transform: translateY(-1px);
    // transform: scale(1.01);
  }

  & div {
    border-radius: 8px 8px 0 0;

    & img {
      border-radius: 8px 8px 0 0;
    }
  }

  .blogPostImage {
    object-fit: cover;
  }

  .blogPostGridContent {
    margin: 0 1.5rem;

    .blogPostCategories {
      display: flex;
      align-items: center;
      padding: 16px 3px;
      font-weight: 400;

      .blogPostCategoriesItems {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 3px;
        font-weight: 400;
  
        a {
          &:hover {
            color: lighten($dark, 30%);
          } 
        }
      }
    }
  }
}
.skeletonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  margin-top: 1rem;
  height: 100%;
}
